@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.clearfix{overflow: auto;}

a{
    text-decoration: none;
}

.sech1 {
    padding-top: 50px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    color:#2F00FF;
}
.sech{
    padding-top: 0;    
}

/* nav bar style */
#navsec {
    margin: 0;
    align-items: center;
}


.navbar{
    /* background-color: rgb(0, 0, 80, 0.3); */
    border-radius: 0 0 20px 20px;
    padding: 4px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", Arial, sans-serif;
    
}
.navleft{
    display:flex;
    align-items: center;
    font-weight: bold;
}
.navleft h3{
    color:white;
    text-transform: uppercase;
}
.navleft h3 span{
    color: #1F00FF;
}
.navimg{
    /* border: 2px solid; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.navli{
    display:inline-block;
    padding: 0 10px 0px 5px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    border-right: 2px solid blue;
    height: 15px;
    

}

.navli:last-child {
    border-right:none;
}
.navlink{
    display: flex;
    align-items: center;
    height: 15px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease;
    padding: 0;
    
}

.navlink:hover {
    color:blue;
    font-size: 15px;
    font-weight: 600;
}



#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#navsec .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#navsec .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#navsec .hamburger .bar::after,
#navsec .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#navsec .hamburger .bar::after {
	top: 8px;
}
#navsec .hamburger .bar::before {
	bottom: 8px;
}
#navsec .hamburger.active .bar::before {
	bottom: 0;
}
#navsec .hamburger.active .bar::after {
	top: 0;
}




/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */


/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#navsec .hamburger {
		display: none;
	}
	#navsec .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#navsec .nav-list ul li {
		display: inline-block;
	}
	#navsec .nav-list ul li a {
		font-size: 1.8rem;
	}
	#navsec .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */


/* home section */
#home{
    background-image: url('../img/background.jpg');
}


#home, #social, #activities, #about, #contact {
    background-color: #111;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: inherit;
    height: 100vh;
    width: 100%;
}
#social,  #about  {
    background-color: #111;
}

#activities, #contact {
    background-color: #222;
}
body {
    height: 100vh;
    background-color: #000;
    background-position: center top;
    
}