*{
    margin: 0;
    padding: 0;
}

.clearfix{overflow: auto;}

a{
    text-decoration: none;
}



/* nav bar style */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    
    font-family: Arial, Helvetica, sans-serif;
    
}
.navimg{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.navimg:hover{
    
}

.navli{
    margin-right: 10px;
    display:inline-block;
    padding: 10px 0;

}
.navlink{
    color: #fff;
}

.navli:hover .navlink {
    color:blue;
}



/* home section */
body {
    background-image: url('../img/background.jpg');
    background-color: #222;
    position: absolute;
}