:root{
    --white: #fff;
    --first-color: #FDFF00;
    --second-color: #0F1B2B;
    --third-color: #1D1D1D;

    --bg-main: var(--second-color);

    --first-font-color: var(--white);
    --second-font-color: var(--third-color);

    --brds4: 4px;
    --brds8: 8px;
    --font-size-6: 0.6rem;
    --font-size-7: 0.7rem;
    --font-size-8: 0.8rem;
    --font-size-9: 0.9rem;
    --font-size-10: 1rem;
    --font-size-11: 1.1rem;
    --font-size-12: 1.2rem;
    --font-size-13: 1.3rem;
    --font-size-14: 1.4rem;
    --font-size-15: 1.5rem;
    --font-size-16: 1.6rem;
    --font-size-17: 1.7rem;
    --font-size-18: 1.8rem;
    --font-size-19: 1.9rem;
    --font-size-20: 2.0rem;
    --font-size-21: 2.1rem;
    --font-size-22: 2.2rem;
    --font-size-23: 2.3rem;
    --font-size-24: 2.4rem;
    --font-size-25: 2.5rem;
    --font-size-26: 2.6rem;
    --font-size-27: 2.7rem;
    --font-size-28: 2.8rem;
    --font-size-29: 2.9rem;
    --font-size-30: 3.0rem;
    --font-size-35: 3.5rem;
    --font-size-40: 4.0rem;

    --head-font: var(--font-size-15);
    --sub-head-font: var(--font-size-13);
    --paragraph-font: var(--font-size-11);

    --font-family : 'Poppins', sans-serif;

    --main-padding: 150px;
    --nav-padding: 0 150px;
    --main-padding-X: 0 var(--main-padding);

    --nav-height: 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: var(--font-family);
}

img{
    max-width: 100%;
    max-height: 100%;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    color: var(--second-color);
    font-size: var(--font-size-11);
    padding: 15px;
    border-radius: var(--brds8);
    font-weight: 600;
    min-width: 125px;
    min-height: 50px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}
button:hover{
    background-color: var(--second-color);
    color: var(--first-color);
}
.btn2{
    background-color: var(--second-color);
    color: var(--first-color);
}
.btn2:hover{
    background-color: var(--first-color);
    color: var(--second-color);
}
.flexc{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    background-color: var(--bg-main);
    position: relative;
    min-height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--nav-padding);
    width: 100%;
    height: var(--nav-height);
    backdrop-filter: blur(5px);
    /* background-color: #888; */
    position: fixed;
    z-index: 10000;
}
header.scroll{
    background-color: #fff3;
}

#main-nav{
    width: 100%;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-nav .left, #main-nav .right{
    height: var(--nav-height);
}
#main-nav .left .logo{
    width: 60px;
    height: 60px;

}

#main-nav .left{
    column-gap: 5px;
}
#main-nav .left .headline h1{
    font-size: var(--font-size-20);
    font-weight: 500;

}

#main-nav .right ul{
    justify-content: flex-end;
    column-gap: 30px;
    flex-wrap: wrap;
}
#main-nav .right ul a{
    cursor: pointer;
    
}
#main-nav .right ul a li{
    font-size: var(--font-size-12);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 0.3s;
}
#main-nav .right ul a li::after{
    content: "";
    width: 0;
    height: 2px;
    border-radius: 1px;
    bottom: 0;
    right: 0;
    left: auto;
    background-color: var(--first-color);
    position: absolute;
    transition: all ease-in-out 0.3s;
}
#main-nav .right ul a:hover li{
    color: var(--first-color);
}
#main-nav .right ul a:hover li::after{
    width: 100%;
    left: 0;
    right: auto;
}


/* Hamburger */
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--first-color);
    border-radius: 2px;
    
}


main{
    width: 100%;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
}
section{
    width: 100%;
    padding: var(--main-padding-X);
    display: flex;
    align-items:center;
    justify-content: center;
}

section>.cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:900px){
    :root{
        --main-padding: 100px;
    }

}
@media screen and (max-width:768px){
    :root{
        --nav-padding: 20px;
        --main-padding: 60px;
    }

    
    header{        
        bottom: 0;
        left: var(--main-padding);
        background-color: #fff3;
        backdrop-filter: blur(5px);
        padding: var(--nav-padding);
        width: calc(100% - var(--main-padding)*2);
        height: 60px;        
        border-radius: 20px 20px 0 0;
    }

    #main-nav .left .logo{
        width: 40px;
        height: 40px;
    
    }
    #main-nav .left .headline{
        display: none;
    
    }


    .hamburger{
        display: none;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}
@media screen and (max-width:550px){
    :root{
        --main-padding: 20px;
    }

}
@media screen and (max-width:400px){
    :root{
        --main-padding: 10px;
    }

}